.button {
  @include centerItem;
  border-radius: 0.5rem !important;
  border: none;
  transition: all 0.3s;
  cursor: pointer;

  &:link,
  &:visited,
  &:hover {
    outline: none;
    color: $primary-white;
    outline: none;
    text-decoration: none;
  }

  &-signout {
    color: $primary-pink;
    background-color: $secondary-pink;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    &:hover {
      background-color: $primary-pink;
      color: $primary-white;
    }
  }

  &-add {
    box-shadow: 0 0.4rem 1rem rgba($primary-dark, 0.5);
    background-color: $primary-dark;
    color: $primary-white;
    height: 4rem;
    margin: 1rem;
    padding: 0 2rem;
    .fa {
      margin-right: 1rem;
    }
    &:hover {
      background-color: $primary-darker;
    }
  }

  &-cancel {
    background-color: $secondary-white;
    color: $primary-dark;
    height: 4rem;
    margin: 1rem;

    &:hover {
      background-color: $tertiary-white;
    }

    a {
      color: $primary-white;
      outline: none;
      text-decoration: none;
      padding: 0 2rem;
    }
  }
  &-sign-in {
    color: $primary-pink;
    background-color: $secondary-pink;
    height: 4rem;
    margin: 1rem;
    padding: 0 2rem;

    &:hover {
      background-color: $primary-pink;
      color: $primary-white;
    }
  }

  &-danger {
    color: $primary-pink;
    background-color: $primary-white;
    border: 0.1rem solid $primary-pink;
    height: 4rem;
    margin: 1rem;
    padding: 0 2rem;

    .fa {
      margin-left: 0;
    }
    &:hover {
      background-color: $primary-pink;
      color: $primary-white;
    }
  }
}
