$primary-darker: #101829;
$primary-dark: #17223b;
$secondary-dark: #757e8e;

$primary-white: #ffffff;
$secondary-white: #cfcfd0;
$tertiary-white: #bebebf;

$primary-pink: #ff8080;
$primary-pink-darker: #f5587b;
$secondary-pink: #ffeff2;

$primary-blue: #59d4e8;
$primary-yellow: #f7be16;

$default-font-size: 1.6rem;
